In [5]:
import pandas as pd          # For data manipulation and analysis
import numpy as np           # For numerical operations
from datetime import datetime # For date and time handling

In [6]:


# Load the dataset
file_path = 'C:/Users/HP/Downloads/trestle_academy_dataset.csv'  
data = pd.read_csv(file_path)

# Preview the first few rows of the dataset
data.head(50)

,student_id,name,age,gender,course,enrollment_date,final_grade,is_intern
0,S0001,Student_1,30,Female,Data Science,2023-03-22,97,No
1,S0002,Student_2,33,Female,Data Science,2023-01-29,64,No
2,S0003,Student_3,39,Female,Data Engineering,2023-12-24,97,No
3,S0004,Student_4,18,Male,Data Engineering,2023-01-09,89,Yes
4,S0005,Student_5,21,Female,Cloud Computing,2023-05-26,65,No
5,S0006,Student_6,21,Female,Data Engineering,2023-08-29,74,No
6,S0007,Student_7,25,Male,AI Fundamentals,2023-08-25,64,Yes
7,S0008,Student_8,27,Female,AI Fundamentals,2023-08-09,60,No
8,S0009,Student_9,37,Male,AI Fundamentals,2023-06-03,54,No
9,S0010,Student_10,39,Male,AI Fundamentals,2023-12-17,70,No
10,S0011,Student_11,36,Male,AI Fundamentals,2023-05-04,91,No
11,S0012,Student_12,22,Male,Cloud Computing,2023-04-12,90,Yes
12,S0013,Student_13,41,Female,AI Fundamentals,2023-07-07,61,No
13,S0014,Student_14,24,Female,Cloud Computing,2023-03-01,79,No
14,S0015,Student_15,42,Female,Data Science,2023-07-06,53,No
15,S0016,Student_16,42,Female,Data Science,2023-10-02,94,Yes
16,S0017,Student_17,30,Female,Data Engineering,2023-01-13,76,Yes
17,S0018,Student_18,44,Male,AI Fundamentals,2023-10-11,77,No
18,S0019,Student_19,19,Female,Data Science,2023-01-11,52,No
19,S0020,Student_20,24,Male,Cloud Computing,2023-09-30,52,No
20,S0021,Student_21,25,Female,Cloud Computing,2023-10-11,73,Yes
21,S0022,Student_22,41,Female,Cloud Computing,2023-05-05,95,Yes
22,S0023,Student_23,32,Female,Data Engineering,2023-09-20,78,No
23,S0024,Student_24,42,Female,Cloud Computing,2023-01-01,68,No
24,S0025,Student_25,35,Female,Data Engineering,2023-01-08,97,Yes
25,S0026,Student_26,23,Male,Cloud Computing,2023-06-03,51,No
26,S0027,Student_27,43,Male,Data Engineering,2023-03-09,54,Yes
27,S0028,Student_28,31,Female,Data Engineering,2023-11-12,86,Yes
28,S0029,Student_29,26,Female,Data Science,2023-09-06,67,Yes
29,S0030,Student_30,27,Male,Data Science,2023-08-02,74,No
30,S0031,Student_31,38,Male,Cloud Computing,2023-04-24,75,Yes
31,S0032,Student_32,37,Female,Data Science,2023-09-04,93,Yes
32,S0033,Student_33,34,Female,Data Engineering,2023-07-20,62,No
33,S0034,Student_34,37,Female,Data Engineering,2023-04-22,84,No
34,S0035,Student_35,23,Female,AI Fundamentals,2023-06-16,71,Yes
35,S0036,Student_36,33,Male,AI Fundamentals,2023-06-14,100,Yes
36,S0037,Student_37,33,Male,Data Engineering,2023-03-10,59,Yes
37,S0038,Student_38,18,Male,Data Science,2023-04-02,86,Yes
38,S0039,Student_39,36,Male,Data Engineering,2023-09-27,93,Yes
39,S0040,Student_40,21,Male,Cloud Computing,2023-05-22,91,Yes
40,S0041,Student_41,42,Male,AI Fundamentals,2023-11-25,56,No
41,S0042,Student_42,35,Female,AI Fundamentals,2023-05-15,67,Yes
42,S0043,Student_43,37,Female,Data Science,2023-12-17,81,Yes
43,S0044,Student_44,37,Male,Data Engineering,2023-05-21,100,No
44,S0045,Student_45,37,Male,AI Fundamentals,2023-04-09,97,No
45,S0046,Student_46,32,Male,Data Science,2023-08-21,94,Yes
46,S0047,Student_47,25,Male,AI Fundamentals,2023-01-17,56,Yes
47,S0048,Student_48,18,Female,Data Science,2023-09-19,100,No
48,S0049,Student_49,19,Female,AI Fundamentals,2023-02-10,66,No
49,S0050,Student_50,27,Male,Cloud Computing,2023-07-01,80,Yes

In [7]:
data.shape

(1000, 8)

In [8]:
missing_values = data.isnull().sum()
print("Missing values per column:\n", missing_values)

Missing values per column:
 student_id         0
name               0
age                0
gender             0
course             0
enrollment_date    0
final_grade        0
is_intern          0
dtype: int64

In [9]:
print("Remaining missing values:\n", data.isnull().sum())

Remaining missing values:
 student_id         0
name               0
age                0
gender             0
course             0
enrollment_date    0
final_grade        0
is_intern          0
dtype: int64

In [10]:
# Ensure 'age' is an integer
data['age'] = data['age'].astype(int)

# Convert 'enrollment_date' to datetime format
data['enrollment_date'] = pd.to_datetime(data['enrollment_date'], errors='coerce')

# Check and display the data types after conversion
print("Data types after standardization:\n", data.dtypes)

Data types after standardization:
 student_id                 object
name                       object
age                         int64
gender                     object
course                     object
enrollment_date    datetime64[ns]
final_grade                 int64
is_intern                  object
dtype: object

In [7]:
# Standardize 'course' column to title case
data['course'] = data['course'].str.title()

# Display the first few rows to verify changes
print(data[['course']].head())

             course
0      Data Science
1      Data Science
2  Data Engineering
3  Data Engineering
4   Cloud Computing

In [12]:
# Filter rows where age is within the range of 18 to 45
data = data[(data['age'] >= 18) & (data['age'] <= 45)]

# Display the shape of the dataset after filtering
print("Dataset shape after filtering:", data.shape)

# Preview the data to confirm
print(data.head())

Dataset shape after filtering: (1000, 8)
  student_id       name  age  gender            course enrollment_date  \
0      S0001  Student_1   30  Female      Data Science      2023-03-22
1      S0002  Student_2   33  Female      Data Science      2023-01-29
2      S0003  Student_3   39  Female  Data Engineering      2023-12-24
3      S0004  Student_4   18    Male  Data Engineering      2023-01-09
4      S0005  Student_5   21  Female   Cloud Computing      2023-05-26

   final_grade is_intern
0           97        No
1           64        No
2           97        No
3           89       Yes
4           65        No

In [13]:
# Standardize the 'is_intern' column to have consistent "Yes" or "No" values
data['is_intern'] = data['is_intern'].str.strip().str.capitalize()

# Verify that all values are now standardized
print("Unique values in 'is_intern' column after standardization:", data['is_intern'].unique())

# Preview the data to confirm changes
print(data[['is_intern']].head())

Unique values in 'is_intern' column after standardization: ['No' 'Yes']
  is_intern
0        No
1        No
2        No
3       Yes
4        No

In [14]:
# Save the cleaned dataset to a new CSV file
cleaned_file_path = 'cleaned_trestle_academy_dataset.csv'  # Specify your desired file path
data.to_csv(cleaned_file_path, index=False)

print(f"Cleaned dataset saved to {cleaned_file_path}")

Cleaned dataset saved to cleaned_trestle_academy_dataset.csv

In [15]:
data.head()

,student_id,name,age,gender,course,enrollment_date,final_grade,is_intern
0,S0001,Student_1,30,Female,Data Science,2023-03-22,97,No
1,S0002,Student_2,33,Female,Data Science,2023-01-29,64,No
2,S0003,Student_3,39,Female,Data Engineering,2023-12-24,97,No
3,S0004,Student_4,18,Male,Data Engineering,2023-01-09,89,Yes
4,S0005,Student_5,21,Female,Cloud Computing,2023-05-26,65,No